SERVER_HOST=0.0.0.0
SERVER_PORT=8081

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=change-me

ES_USERNAME=elastic
ES_PASSWORD=change-me
ES_HOST=elasticsearch:9200

APP_ADMIN_SECRET=change-me
APP_ENCRYPT_KEY=change-me
APP_ENCRYPT_IV=change-me

MYSQL_HOST=mysql
MYSQL_PORT=3306
MYSQL_DATABASE=anchr
MYSQL_USER=anchr
MYSQL_PASSWORD=change-me

APP_DOCLING_BASE_URL=change-me
APP_DOCLING_API_TOKEN=change-me
