REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=

ES_USERNAME=
ES_PASSWORD=
ES_HOST=

APP_ADMIN_SECRET=
APP_ENCRYPT_KEY=
APP_ENCRYPT_IV=

MYSQL_HOST=
MYSQL_PORT=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=

APP_DOCLING_BASE_URL=
