REDIS_HOST=change-me
REDIS_PORT=change-me
REDIS_PASSWORD=change-me

ES_USERNAME=change-me
ES_PASSWORD=change-me
ES_HOST=change-me

APP_ADMIN_SECRET=change-me
APP_ENCRYPT_KEY=change-me
APP_ENCRYPT_IV=change-me

MYSQL_HOST=change-me
MYSQL_PORT=change-me
MYSQL_DATABASE=change-me
MYSQL_USER=change-me
MYSQL_PASSWORD=change-me

APP_DOCLING_BASE_URL=change-me
APP_DOCLING_API_TOKEN=change-me
APP_DOCLING_POLL_INTERVAL=change-me
APP_DOCLING_MAX_WAIT=change-me
APP_DOCLING_MAX_RESUBMITS=change-me

SERVER_HOST=change-me
SERVER_PORT=change-me
